<% @page_title = "Longer, Faster, Better" -%>

<div id="warning">
  <strong>Warning:</strong> Digg recently launched V4 of their site and changed (mangled) their api and removed most of the categories, feeddit is not working so great right now.
</div>

<div id="homepage">
    <div class='tagline'>
    	<p><span>The Ultimate Digg News Feed (Digg just got even better)</span></p>
    	
    	<%= link_to image_tag('subscribe.png', :id => 'subscribe'), "http://feeds.feedburner.com/Diggfeedr", :onclick => "pageTracker._trackEvent('Feeds', 'Subscribe', 'All Popular', 'From Homepage');" %>
    	
    	<br /><%= link_to "or get individual topics here", digg_path %>
    </div>
    <div id="blurb">
    	<div class="item">
    		<h2>What is Feeddit?</h2>
    		<p>Feeddit is an improvement to the standard rss feed on <%= link_to "Digg.com", "http://digg.com" %>, it's longer, fatter and more awesome.</p>
    	</div>
    	<div class="item">
    		<h2>Big Improvements</h2>
    		<p>These new feeds are <b>100 stories</b> long and has the <b>actual link</b> so you can skip past Digg and get directly to the story.</p>
    	</div>
    	<div class="item">
    		<h2>Follow Feeddit</h2>
    		<p>Keep up to date with feeddit news and updates by following us on twitter @ <%= link_to "twitter.com/feeddit", "http://twitter.com/feeddit" %></p>
    	</div>
    	<div class="item">
    		<h2>Open Source</h2>
    		<p>Feeddit is 100% free and open source, anyone can get the code under an MIT License. <%= link_to "Grab it here!", :action => "opensource" %></p>
    	</div>
    </div>
</div>

