<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Feeddit - An better, longer RSS feed for Digg&trade;</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Feeddit, DiggFeedr, Andrew Nesbitt, Digg, Feed, RSS, ATOM, API, tool, web 2.0, longer, faster, better, direct_links" />
	<meta name="description" content="Feeddit is an improvement to the standard rss feed on Digg.com, it's longer, faster and more awesome." />
	<meta name="author" content="Andrew Nesbitt" />
	<link rel="apple-touch-icon" href="/images/home-icon.png"/>
	<link rel='alternate' type='application/rss+xml' title='Feeddit RSS' href='http://feeds.feedburner.com/Diggfeedr' />
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" >
</head>
<body>
	<% if flash[:error] -%> 
	    <div id="flash-errors" class="flash" ><%= flash[:error] %></div>
	<% end -%>
	<% if flash[:notice] -%>
	    <div id="flash-notice" class="flash" ><%= flash[:notice] %></div>
	<% end -%>

	<div id="wrapper">
		<div id="content">
			<div id="header">
				<div id="logo"></div>
				<div id="title"><h1><%= link_to "Feeddit", root_path %> <span class="note">Formerly DiggFeedr</span></h1></div>
			</div>
			<div id='middle'>
				<%= yield %>
			</div>
			<div id="legal">
				<div id="cclogos">
				    <%= link_to image_tag('cc2.jpg'), "http://creativecommons.org", :title => 'Creative Commons' %>
					<%= link_to image_tag('ccpd.jpg'), "http://creativecommons.org/licenses/publicdomain", :title => 'Public Domain License' %>			 		
					</div>
				<p>User-posted content, unless source quoted, is licensed under a <%= link_to "Creative Commons Public Domain License", "http://creativecommons.org/licenses/publicdomain/" %>.</p>
				<div class="right">
				    <%= link_to image_tag('feed.gif'), "http://feeds.feedburner.com/Diggfeedr", :title => 'Subscribe' %>
					<%= link_to image_tag('delicious.gif'), "http://del.icio.us/post?url=http%3A%2F%2Ffeeddit.com&amp;title=Feeddit%20-%20The%20Ultimate%20Digg%20RSS%20Feed", :title => "Submit to Del.icio.us" %>
					<%= link_to image_tag('digg.gif'), "http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Ffeeddit.com&amp;title=Feeddit%20-%20The%20Ultimate%20Digg%20RSS%20Feed", :title => "Submit to Digg" %> 
					<%= link_to image_tag('stumbleUpon.gif'), "http://www.stumbleupon.com/submit?url=http%3A%2F%2Ffeeddit.com&amp;title=Feeddit%20-%20The%20Ultimate%20Digg%20RSS%20Feed", :title => "Submit to StumbleUpon" %>
				</div>
				<p>Digg&trade; and Digg Logo and Designs are trademarks of <%= link_to "Digg Inc", "http://digg.com" %></p>
			</div>

		</div>
		<div id="footer">
			<div class="right">Designed and Coded by <%= link_to "Andrew Nesbitt", "http://teabass.com" %></div>
		</div>
	</div>
	<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
	<script type="text/javascript">
	re_("w8e00-84gs0q669b");
	</script>
	<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-265870-14");
    pageTracker._trackPageview();
    } catch(err) {}</script>
</body>
</html>